.project-details {
  padding: 4px;

  p {
    margin-top: 4px;
    margin-bottom: 0;
  }

  h3,
  h5 {
    margin-top: 4px;
    margin-bottom: 0;
  }
}

.#{$prefix}-config-project-config {
  .#{$prefix}panel-body-default {
    overflow: hidden auto;
  }
}
