.#{$prefix}boundlist-item-over {
  color: $base-color;
  background-color: $neutral-light-color;
  border-color: $neutral-light-color;
}


.#{$prefix}boundlist-selected {
  color: $base-color;
  background-color: $neutral-color;
  border-color: $neutral-color;
}